<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLiteViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLiteViewer.Properties.Settings>
            <setting name="BetterReplayDateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="BetterReplayKillsFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BetterReplayPlaylist" serializeAs="String">
                <value />
            </setting>
            <setting name="BetterReplayDateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="BetterReplayKillsTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BetterReplaySeason" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BetterReplayPlacement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinKillsTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeamTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlatformComboBox" serializeAs="String">
                <value />
            </setting>
            <setting name="MinPlaceTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxPlaceTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinLvlTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxLvlTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinActionNumberTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxActionNumberTextBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatusComboBox" serializeAs="String">
                <value />
            </setting>
            <setting name="RarityComboBox" serializeAs="String">
                <value />
            </setting>
            <setting name="WeaponTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="POITextBox" serializeAs="String">
                <value />
            </setting>
        </SQLiteViewer.Properties.Settings>
    </userSettings>
</configuration>